.form-input {
  appearance: none;
  background-color: #fff;
  border: 1px solid #9CA3AF;
  border-radius: 4px;
  padding: .5rem .5rem;
  font-size: 1rem;
  line-height: 1rem;
}

.form-label {
  margin-right: 8px;
}

.card {
  border: 1px solid #9CA3AF;
  border-radius: 4px;
  padding: 16px;
}

.selected-row {
  background-color: #93c5fd !important;
}

